@import '../variables';

.navigation-bar {
    top: 0px;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    max-width: 900px;
    background-color: $sidebar-background;
    margin-bottom: 50px;
    box-shadow: 0px 2px 4px #181818;


    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &__item {
        width: 100%;
        height: 100%;
        border-right: 1px solid $bg-color;
    }

    &__link {
        display: inline-block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        font-family: 'Roboto';
        color: #fff;

        transition: background 650ms;

        &:hover {
            background-image: linear-gradient($sidebar-background, rgba(#fff, 0.1));
        }
    }

}

.active /*.active-exact*/ {
    background-image: linear-gradient($sidebar-background, rgba(#fff, 0.1));
    box-shadow: 0 2px 0px $accent-color;
}